# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Model Files
# =========================
models/*.pkl

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# macOS System Files
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Streamlit cache
# =========================
.streamlit/

# =========================
# VS Code
# =========================
.vscode/
